/* body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
} */

#gantt {
  width: 90%;
  height: 500px;
}

#gantt-container {
  display: flex;
}

/* #task-list {
  width: 200px;
  border-right: 1px solid #ddd;
  flex-shrink: 0;
} */

.gantt .today-highlight {
  fill: #f9546b !important;
}